.cabecalho {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; /* Adicionado para centralizar verticalmente */
    position: relative; /* Adicionado para posicionar corretamente o conteúdo */
    height: 100px; /* Altura do cabeçalho, ajuste conforme necessário */
  }
  
  .cabecalho .imagem {
    width: 100%; 
    object-fit: cover; 
  }
  
  @media (max-width: 576px) {
    .cabecalho p {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .cabecalho .logo {
      width: 90%;
    }
    .cabecalho .imagem {
      display: none;
    }
  }
  